<p id="notice"><%= notice %></p>
<div class="header-section">
<h1>Student Marksheets</h1>
</div>
<table class="table-sectioin">
  <thead class="thread-section" id="update_thread-section">
    <tr class="tr-section" >
      <th>Name</th>
      <th>Subject one</th>
      <th>Subject two</th>
      <th>Subject three</th>
      <th>Subject four</th>
      <th>Subject five</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="thread-section">
    <% @marksheets.each do |marksheet| %>
      <tr class="tr-section">
        <td><%= marksheet.name %></td>
        <td><%= marksheet.subject_one %></td>
        <td><%= marksheet.subject_two %></td>
        <td><%= marksheet.subject_three %></td>
        <td><%= marksheet.subject_four %></td>
        <td><%= marksheet.subject_five %></td>
        <td><%= link_to 'Show', marksheet %></td>
        <td><%= link_to 'Edit', edit_marksheet_path(marksheet) %></td>
        <td><%= link_to 'Destroy', marksheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marksheet', new_marksheet_path %>
